<div class="container-fluid p-3">
    
<form method="post" action="create">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Marca </label>
        <input type="text" name="marca" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Modelo </label>
        <input type="text" name="modelo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Tamanho </label>
        <input type="number" name="tamanho" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Cor </label>
        <input type="text" name="cor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

  <button type="submit" class="btn btn-primary" id="create-button"> CRIAR </button>
</form>

</div>

